/* Main */
#main {
  flex-direction: column;
}

.main-title {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: italic;
  font-weight: normal;
}
.blog-post-title {
  margin-top: 32px;
}
.blog-post-meta {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
}
blockquote {
  font-style: italic;
}
.blog-pagination {
  flex-direction: row;
  justify-content: flex-start;
}
.blog-pagination a {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 8px 16px;
}
