/* Main Container  */
#main {
  display: grid;
  grid-template-rows: 1fr 60px;
  grid-template-areas: "album" "view-more";
}
/* Album */
.album {
  margin-top: 8px;
  grid-area: album;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.view-more {
  grid-area: view-more;
}
.card {
  margin: 0 32px 32px;
  box-shadow: 2px 2px 4px 4px #ccc;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 16px 8px 0;
}
.card-title {
  color: black;
  text-decoration: transparent;
}
.card-title:hover,
.card-title:active,
.card-title:visited,
.card-title::after {
  color: inherit;
}

.figure-caption {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
}
.card-text {
  margin-top: 16px;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-group {
  margin-bottom: 8px;
}
.btn {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.btn:hover {
  background: white;
}
/* View more  */
.view-more-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-more {
  text-decoration: transparent;
  /* font-size: 1rem; */
}
