/* Media Queries */

/* Tablet and smaller */
@media (max-width: 800px) {
  .album {
    grid-template-columns: 1fr;
  }

  /* navigation */
  header {
    text-align: center;
    margin-bottom: 0;
  }
  .flex-col {
    flex-direction: column;
  }
  .nav-list {
    justify-content: center;
    margin: auto;
  }
}

/* Smart Screen */

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
  }

  .album {
    grid-template-columns: 1fr;
  }

  img {
    max-width: 100px;
  }

  p {
    max-width: 100%;
  }
}
