/* Navigation bar  */
.navbar {
  padding: 0 32px;
  background-color: #5bc0de;
}
.navbar-brand:hover,
.navbar-brand::after,
.navbar-brand:active,
.navbar-brand:visited {
  color: white;
}

.nav-link {
  text-decoration: transparent;
  /* color: rgba(0, 0, 0, 0.6); */
  color: white;
  font-size: 1.6rem;
}
.form-inline {
  padding: 8px 0;
  color: black;
}
