/* Navigation bar  */
.nav {
  padding: 0 32px;
  background-color: #5bc0de;
  border-radius: 5px;
}
.navbar-brand {
  color: blue;
  font-size: 1.6rem;
}
.navbar-brand:hover,
.navbar-brand::after,
.navbar-brand:active,
.navbar-brand:visited {
  color: white;
}

.nav-link {
  color: white;
  font-size: 1rem;
  padding: 0 16px;
}
.nav-link:hover,
.nav-link::after,
.nav-link:active {
  background-color: #eeeeee;
  color: #23527c;
}
.btn-search {
  height: 32px;
}
/* Showcase */
.showcase {
  height: 360px;
  border-radius: 5px;

  background-color: #fbd2d7;
  color: rgba(0, 0, 0, 0.8);
}
