body {
  font: 3em/1.6 Arial, Helvetica, sans-serif;
  color: black;
}

/* Navigation bar  */
.my-navbar {
  padding: 0 32px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.6); */
  border-bottom: 3px solid red;
  background-color: #f1f1f1;
}

.navbar-brand:hover,
.navbar-brand::after,
.navbar-brand:active,
.navbar-brand:visited {
  color: inherit;
}
