/* Summary  */
.summary-content {
  text-align: justify;
}

/* Album */
.album {
  margin: 32px 0 0;
}
.album-card {
  margin-bottom: 32px !important;
  box-shadow: 2px 2px 4px 4px #ccc;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 16px 8px 0;
}
.card-title {
  color: black;
  text-decoration: transparent;
}
.card-title:hover,
.card-title:active,
.card-title:visited,
.card-title::after {
  color: inherit;
}
.figure-caption {
  padding-top: 8px !important;
  color: rgba(0, 0, 0, 0.6) !important;
  font-size: 1rem;
}
.card-text {
  margin-top: 16px;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-group {
  margin-bottom: 8px;
}
.btn {
  border: 1px solid rgba(0, 0, 0, 0.6) !important;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.btn:hover {
  background: white;
}
.view-more-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-more {
  text-decoration: transparent;
  font-size: 1.6rem;
}
/* About  */
.about-card {
  margin: 32px 0 0;
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  background-color: rgba(0, 0, 0, 0.05);
}
.about-card .row {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.card {
  margin: 0 16px;
}
.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 0 16px;
  margin: 16px 0;
}
.about-social-network {
  display: flex;
  flex-direction: row;
  margin: 0 16px;
}
.archive-list {
  text-align: left;
}
